<h2>Hizmetler</h2>
<ul>
    @foreach (var hizmet in Model)
    {
        <li>
            @hizmet.Ad - @hizmet.Ucret ₺
            <a asp-action="Uzmanlar" asp-route-hizmetId="@hizmet.Id">Uzman Seç</a>
        </li>
    }
</ul>
